<H1>All my fav cocktails</H1>


<div class="card-category">
  <% @cocktails.each do |cocktail| %>
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1490324120634-0fa86c62d6c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1359&q=80" />
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
          <p>hello youuu</p>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= link_to "Add your cocktail", new_cocktail_path %>


